// @ts-nocheck
var format = function ( text )
{
    //wxs diao yong 
    // @ts-ignore
    if ( !text )
    {
        return
    }
    var reg = getRegExp( '\\\\n', 'g' )

    return text.replace( reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' );
}

var limit = function ( array, length )
{
    if ( !array )
    {
        return;
    }
    return array.slice( 0, length );
    //qu shuzu de qian ruogan tiao 
}

module.exports = {
    format: format,
    limit: limit
}